# Requirements.txt
# All code was written in python 3.6.5
# `conda create -n lifeExpCount python=3.6.5`
# Then install basemap using conda. There are other ways but they're more difficult I hear
# `conda install basemap`
# install packages using `pip install -r requirements.txt`
basemap==1.0.7
certifi==2018.4.16
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
numpy==1.14.3
pandas==0.23.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
tornado==5.0.2
